* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@media screen and (min-width: 100px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header {
    width: 100%;
    height: 40px;
    background-color: #e6a401;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }

  header img {
    width: 90px;
  }

  header .item_1 {
    display: flex;
    align-items: center;
  }

  header .item_1 p {
    margin-right: 12px;
    font-family: 'Montserrat-Regular',Arial,Helvetica;
    font-size: 8px;
    text-decoration: none;
    color: #5b4794;
  }

  header .item_1 a{
    text-decoration: none;
  }

  header .item_1 .btn {
    width: 105px;
    height: 20px;
    border-radius: 12px;
    background: #5b4794;
    font-family: 'Montserrat-Regular',Arial,Helvetica;
    font-size: 8px;
    text-decoration: none;
    color: #e6a401;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Slideshow container */
.slideshow-Container {
  max-width:100%;
  position: relative;
  margin:auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  
}


/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

  /* TEXTO E BANNER */
  
.bloco_3{
  width: 100%;


  /* The image used */
  background-image: url("../Images/banner_quem_somos_768x440px.png");

  /* Full height */
  height: 262px;
  max-height: 262px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



}

/* pop up rotativo*/

.pop{
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.pop .pop_texto{
  display: flex;
  width:50%;
  text-align: justify;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  

}

.pop .pop_texto h1{
  color: #5b4794;
  font-family: 'Montserrat-Bold',Arial,Helvetica;
  font-size:11px;
  margin: 0;
  margin-bottom: 7px;

}

.pop .pop_texto h3{
  color: #5b4794;
  font-family: 'Montserrat-Bold',Arial,Helvetica;
  font-size:7px;

}

.pop .pop_texto p{
  color: #5b4794;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size:6px;

}

.pop .Ban{
  width:50%;
  height:240px;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  
}

/* Slideshow container */
.pop .Ban .slideshow-container4 {
  width: 70%;
   
  position: relative;
  margin: auto;
  border-radius:12px;
  
  
}

/* Hide the images by default */
.pop .Ban .mySlides4 {
  display: none;
}

.pop .Ban .slideshow-container4 .mySlides4 img {
  height: 180px;
}



/* Next & previous buttons */
.prev4, .next4 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next4 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev4:hover, .next4:hover {
  background-color: rgba(0,0,0,0.8);
}




/* Fading animation */
.fade4 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Modal popup*/

.modal {
  width: 80%;
  height:10%;
  border-radius:15px;


  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin:auto;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
 
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 1000px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
  border-radius:15px;
  
}

.modal img{
  width:100%;
  position: relative;
  margin:auto;
  border-radius:15px;
}


.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #e6a401;
  border-radius: 50%;
  font-size: 16px;
  color:#5b4794 ;
  text-decoration: none;
}


  /* BLOCO_4 AMARELO*/

  .bloco_4{
    width: 100%;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #e6a401;
  
  }
  
  .bloco_4 #myVideo {
    
    position: absolute;
  
    width: 100%;
   
    
    max-height: 262px;

    object-fit: cover;
  
  }

/* Slideshow container2 */
.slideshow-Container2 {
  max-width:100%;
  position: relative;
  margin:auto;
}

/* Make the images invisible by default */
.Containers2 {
  display: none;
  
}


/* Faint animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade2 {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade2 {
  from {opacity: .5}
  to {opacity: 2}
}

/* RODAPE*/

footer{
  width: 100%;
  height:450px;
  display: flex;
  background-color: #5b4794;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

  /*Definir estilo dos botoes de rede social*/
footer .social{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

footer .social p{
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 8px;
  color:#FFF;
  margin-left: 15px;

}

footer .s-m{
  position: relative;
  display: flex;
  align-items: center;
  
  
}
footer .s-m a{
  display: inline-flex;
  width: 20px;
  height: 20px;
  background: #5b4794;
  color: #e6a401;
  margin: 0 3px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 12px;
  text-decoration: none;
}
footer .s-m a:hover{
  background: #e6a401;
  color: #5b4794;
}
footer .s-m a i{
  transition: 0.5s all;
}
footer .s-m a:hover > i {
  transform: scale(1.4) rotate(26deg);
} 

/*FORMULARIO*/

form {
  margin:10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items:flex-start;
  justify-content: center;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 8px;
  background-color: #5b4794;
  max-width: 250px;
}

h1 {
  margin-bottom: 10px;
  margin-left: 10px;
  color: #FFF;
  
}

input, textarea {
  width: 150px;
  padding: 5px;
  color:#5b4794;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size:8px;
  
}

input:hover, textarea:hover, input:focus, textarea:focus {
  border-color: #e6a401;
  box-shadow: 5px 0px 9px #e6a401;
  background-color: #FFF;
  color:#5b4794;
  
}

.enviar {
  background-color:#FFF;
  opacity:70%;
  height: 20px;
  width: 60px;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #5b4794;;
  color: #FFF;
  padding: 5px;
  color: black;
  margin-bottom: 10px;
}

textarea {
  width: 150px;
  height: 40px;
  line-height: 10px;
  max-width: 150px;
}

form label {
  margin-top:5px;
  margin-bottom: 5px;
  color: #FFFFFF;
  
}

form .field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  margin-left: 10px;
  
}

form .field .control .select{
  display:flex;
  width: 150px;
  align-items: center;
}


input#teste2,#teste3,#teste4,#teste5,#teste6{
  margin: 2px;
  width:10px;
}

footer img{
  height: auto;
  max-width: 30%;
  
  margin: 15px;
  margin-left: 110px;
}



.whatsapp-link1 {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 5px;
  margin-left: 2px;
  
}

}


@media screen and (min-width: 720px) {
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  width: 100%;
  height: 60px;
  background-color: #e6a401;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

header img {
  width: 150px;
}

header .item_1 {
  display: flex;
  align-items: center;
}

header .item_1 p {
  margin-right: 20px;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 12px;
  text-decoration: none;
  color: #5b4794;
}

header .item_1 a{
  text-decoration: none;
}

header .item_1 .btn {
  width: 155px;
  height: 30px;
  border-radius: 12px;
  background: #5b4794;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 12px;
  text-decoration: none;
  color: #e6a401;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slideshow container */
.slideshow-Container {
  max-width:100%;
  position: relative;
  margin:auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  
}


/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

/* TEXTO E BANNER */

.bloco_3{
  width: 100%;


  /* The image used */
  background-image: url("../Images/banner_quem_somos_768x440px.png");

  /* Full height */
  height: 480px;
  max-height: 480px;
 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



}
/* pop up rotativo*/

.pop{
  width: 100%;
  height: 340px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.pop .pop_texto{
  display: flex;
  width:45%;
  height:100%;
  text-align: justify;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content:center;

}

.pop .pop_texto h1{
  color: #5b4794;
  font-family: 'Montserrat-Bold',Arial,Helvetica;
  font-size:20px;
  margin: 0;
  margin-bottom: 10px;

}

.pop .pop_texto h3{
  color: #5b4794;
  font-family: 'Montserrat-Bold',Arial,Helvetica;
  font-size:14px;

}

.pop .pop_texto p{
  color: #5b4794;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size:8px;

}

.pop .Ban{
  width:50%;
  height:100%;
  
}

/* Slideshow container */
.pop .Ban .slideshow-container4 {
  width: 60%;
  
  position: relative;
  margin: auto;
  margin-top:30px;
  margin-bottom: 25px;
}

/* Hide the images by default */
.pop .Ban .mySlides4 {
  display: none;
}
.pop .Ban .slideshow-container4 .mySlides4 img {
  height: 240px;
}
/* Next & previous buttons */
.prev4, .next4 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next4 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev4:hover, .next4:hover {
  background-color: rgba(0,0,0,0.8);
}



.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade4 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Modal popup*/

.modal {
  width: 65%;
  height:10%;
  border-radius:15px;


  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin:auto;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
 
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 1000px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
  border-radius:15px;
  
}

.modal img{
  width:100%;
  position: relative;
  margin:auto;
  border-radius:15px;
}


.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #e6a401;
  border-radius: 50%;
  font-size: 16px;
  color:#5b4794 ;
  text-decoration: none;
}





/* BLOCO_4 AMARELO*/

.bloco_4{
  width: 100%;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #e6a401;
  
}

.bloco_4 #myVideo {
  
  position: absolute;

  width: 100vw;
 
  height: 100%;
  max-height: 360px;
  object-fit: cover;

}


/* BANNER ROTATIVO SEM BOTÃO Nº2*/

/* Slideshow container2 */
.slideshow-Container2 {
  max-width:100%;
  position: relative;
  margin:auto;
}

/* Make the images invisible by default */
.Containers2 {
  display: none;
  
}




/* Faint animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade2 {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade2 {
  from {opacity: .5}
  to {opacity: 2}
}

/* RODAPE*/

footer{
  width: 100%;
  height:750px;
  display: flex;
  background-color: #5b4794;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

  /*Definir estilo dos botoes de rede social*/
  footer .social{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;

}

footer .social p{
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 18px;
  color:#FFF;
  margin-left: 15px;
}

footer .s-m{
  position: relative;
  display: flex;
  align-items: center;
  
  
  }
  footer .s-m a{
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: #5b4794;
  color: #e6a401;
  margin: 0 3px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 23px;
  text-decoration: none;
}
footer .s-m a:hover{
  background: #e6a401;
  color: #5b4794;
}
footer .s-m a i{
  transition: 0.5s all;
}
footer .s-m a:hover > i {
  transform: scale(1.4) rotate(26deg);
} 

/*FORMULARIO*/

form {
  margin:20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items:flex-start;
  justify-content: center;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 12px;
  background-color: #5b4794;
  max-width: 400px;
  height:750px;
}

h1 {
  margin-bottom: 15px;
  margin-left: 45px;
  color: #FFF;
  
}

input, textarea {
  width: 300px;
  padding: 8px;
  color: #5b4794;
  margin-left: 20px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  font-size: 12px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
  border-color: #e6a401;
  box-shadow: 5px 0px 9px #e6a401;
  background-color: #FFF;
  color:#5b4794;
  
}

.enviar {
  background-color: #FFF;
  opacity:70%;
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  padding: 5px;
  color: black;
}

textarea {
  width: 300px;
  height: 60px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-top:10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  
}

form .field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  margin-left: 20px;
  
}

form .field .control .select{
  display:flex;
  width: 300px;
  align-items: center;
}


input#teste2,#teste3,#teste4,#teste5,#teste6{
  margin-left: 0px;
  width:20px;

}

footer img{
  height: auto;
  max-width: 100%;
  
  margin: 30px;
}

.whatsapp-link1 {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 40px;
  right: 30px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 8px;
}

}


@media screen and (min-width: 1280px) {
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  width: 100%;
  height: 100px;
  background-color: #e6a401;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

header img {
  width: 220px;
}

header .item_1 {
  display: flex;
  align-items: center;
}

header .item_1 p {
  margin-right: 20px;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 18px;
  text-decoration: none;
  color: #5b4794;
}

header .item_1 a{
  text-decoration: none;
}

header .item_1 .btn {
  width: 220px;
  height: 40px;
  border-radius: 15px;
  background: #5b4794;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 18px;
  text-decoration: none;
  color: #e6a401;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Slideshow container */
.slideshow-Container {
  max-width:100%;
  position: relative;
  margin:auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  
}


/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

/* TEXTO E BANNER */

.bloco_3{
  width: 100%;


  /* The image used */
  background-image: url("../Images/banner_quem_somos_1800x907px.png");

  /* Full height */
  height: 902px;
  max-height: 902px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



}

  /* pop up rotativo*/

.pop{
  width: 100%;
  height: 602px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.pop .pop_texto{
  display: flex;
  width:40%;
  text-align: justify;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  

}

.pop .pop_texto h1{
  color: #5b4794;
  font-family: 'Montserrat-Bold',Arial,Helvetica;
  font-size:52px;
  margin: 0;
  margin-bottom: 15px;
  line-height: 50px;

}

.pop .pop_texto h3{
  color: #5b4794;
  font-family: 'Montserrat-Bold',Arial,Helvetica;
  font-size:20px;

}

.pop .pop_texto p{
  color: #5b4794;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size:16px;
  word-spacing: 8px;

}

.pop .Ban{
  width:50%;
  height:602px;
  
}

/* Slideshow container */
.pop .Ban .slideshow-container4 {
  width: 60%;
  
  position: relative;
  margin: auto;
  margin-top:25px;
  margin-bottom: 25px;
}

/* Hide the images by default */
.pop .Ban .mySlides4 {
  display: none;
}

.pop .Ban .slideshow-container4 .mySlides4 img {
  height: 480px;
}

/* Next & previous buttons */
.prev4, .next4 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next4 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev4:hover, .next4:hover {
  background-color: rgba(0,0,0,0.8);
}



.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade4 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Modal popup*/

.modal {
  width: 55%;
  height:505px;
  border-radius:15px;


  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin:auto;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
 
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 1000px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
  border-radius:15px;
  
}

.modal img{
  width:100%;
  position: relative;
  margin:auto;
  border-radius:15px;
}


.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #e6a401;
  border-radius: 50%;
  font-size: 16px;
  color:#5b4794 ;
  text-decoration: none;
}






/* Slideshow container2 */
.slideshow-Container2 {
  max-width:100%;
  position: relative;
  margin:auto;
}

/* Make the images invisible by default */
.Containers2 {
  display: none;
  
}

/* Faint animation */
.fade2 {
  -webkit-animation-name: fade2;
  -webkit-animation-duration: 1.4s;
  animation-name: fade2;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade2 {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade2 {
  from {opacity: .5}
  to {opacity: 2}
}

/* BLOCO_4 AMARELO*/

.bloco_4{
  width: 100%;
  height: 641px;

}

.bloco_4 #myVideo {
  position: absolute;

  width: 100%;
  max-height: 641px;
  object-fit: cover;
}



/* RODAPE*/

footer{
  width: 100%;
  height:900px;
  background-color: #5b4794;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

  /*Definir estilo dos botoes de rede social*/
  footer .social{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

footer .social p{
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 24px;
  color:#FFF;
  margin-left: 15px;
}

footer .s-m{
  position: relative;
  display: flex;
  align-items: center;
  
  
  }
  footer .s-m a{
  display: inline-flex;
  width: 60px;
  height: 60px;
  background: #5b4794;
  color: #e6a401;
  margin: 0 3px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 23px;
  text-decoration: none;
}
footer .s-m a:hover{
  background: #e6a401;
  color: #5b4794;
}
footer .s-m a i{
  transition: 0.5s all;
}
footer .s-m a:hover > i {
  transform: scale(1.4) rotate(26deg);
}  

/*FORMULARIO*/

form {
  margin:40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items:flex-start;
  justify-content: center;
  font-family: 'Montserrat-Regular',Arial,Helvetica;
  font-size: 15px;
  background-color: #5b4794;
  max-width: 500px;
}

h1 {
  margin-bottom: 20px;
  margin-left: 70px;
  color: #FFF;
  text-align: center;
  
}

input, textarea {
  width: 400px;
  padding: 16px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 14px;
  border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
  border-color: #e6a401;
  box-shadow: 5px 0px 9px #e6a401;
  background-color: #FFF;
  color: black;
  
}

.enviar {
  background-color: #FFF;
  opacity:70%;
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  padding: 5px;
  color: black;
}

textarea {
  width: 400px;
  height: 60px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-top:10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  
}

form .field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  margin-left: 20px;
  
}

form .field .control .select{
  display:flex;
  width: 400px;
  align-items: center;
}

input#teste2,#teste3,#teste4,#teste5,#teste6{
  margin-left: 0px;
  width:40px;
}

footer img{
  height: auto;
  max-width: 100%;
  
  margin: 30px;
}

.whatsapp-link1 {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 10px;
}

}























